[Desktop Entry]
Type=Application
Name=fetrunner
GenericName=Timetable software for schools
GenericName[de]=Stundenplan-Generator
Comment=Generate timetables for educational institutions
Comment[de]=Stundenpläne für Lehreinrichtungen erstellen
Keywords=schedule;planning;school;high-school;university;education;teacher;students;
Icon=fetrunner
Exec=fetrunner-gui
Terminal=false
StartupNotify=true
Categories=Office;Chart;Qt;
